<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @puppy.name %>
</p>

<p>
  <strong>Descriptin:</strong>
  <%= @puppy.descriptin %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @puppy.date_of_birth %>
</p>

<%= link_to 'Back', puppies_path %>
