<!DOCTYPE html>
<html>
  <head>
    <title>Ddwk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
  </head>

  <body>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) { 
        return tinymce.remove();
      });
    </script>
    <%= yield %>
  </body>
</html>
